.blogs{
    margin:75px 8vw;
}
.blogs h1{
    text-align: center;
    margin: 30px 0;
    color: #C3A37D;
    font-weight: 800;
    scale: 1.2;
    word-spacing: 5px;
    padding: 0 10px;    
}
.blogs .blogList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
}
.blogs .blogList .blog{
    border: 1px solid #C3A37D;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
}
.blogs .blogList .blog img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
.blogs .blogList .blog .blogTitle{
    color: #C3A37D;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    height: auto;
}
.blogs .blogList .blog p{
color: gray;
margin-bottom: 20px;
font-size: 13px;
letter-spacing: 1px;
text-align: justify;
display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.8em; 
}
.blogs .blogList .blog button{
    cursor: pointer;
    padding: 6px 20px;
    width: 140px;
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    margin: auto;
    background-color: #C3A37D;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;

}
.blogs .blogList .blog button:hover{
    opacity: 0.7;
    scale: 1.1;
}

.singleBlog{
    margin:75px 8vw;

}
.singleBlog h1{
    text-align: left;
    margin: 50px 0;
    color: #C3A37D;
    font-weight: 700;
    letter-spacing: 1px;
}
.singleBlog p{
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    text-align: justify;
}

@media screen and (max-width:1250px) {
    .blogs .blogList{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:950px) {
    .blogs{
        margin:75px 3rem;
    }
    .blogs .blogList{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px ;
    }
    .singleBlog{
        margin:75px 3rem;
    
    }
}
@media screen and (max-width:650px) {
    .blogs{
        margin:75px 1rem;
    }
    .singleBlog{
        margin:75px 1rem;
    
    }
    .blogs .blogList{
        grid-template-columns: 1fr;
        grid-gap:10px ;
    }
}