.blogs{
    margin:110px 8vw;
}
.blogs h1{
    text-align: center;
    margin: 30px 0;
    color: var(--heading-color);
    font-size: 2.7em;
    font-weight: 600;
    word-spacing: 5px;
    padding: 0 10px;    
}
.blogs .blogList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.blogs .blogList .blog{
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    width:24%;
    flex-direction: column;
}
.blogs .blogList .blog img{
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
.blogs .blogList .blog .blogTitle{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    height: auto;
}
.blogs .blogList .blog p{
color: rgb(180, 180, 180);
margin-bottom: 20px;
font-size: 13px;
letter-spacing: 1px;
text-align: justify;
display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.8em; 
}
.blogs .blogList .blog button{
    cursor: pointer;
    padding: 6px 20px;
    width: 140px;
    border: none;
    color: var(--opposite-color);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    margin: auto;
    background-color: var(--heading-color);
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;

}
.blogs .blogList .blog button:hover{
    opacity: 0.7;
    scale: 1.1;
}

.singleBlog{
    margin:110px 8vw;

}
.singleBlog h1{
    text-align: left;
    margin: 50px 0;
    color: var(--heading-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 1px;
}
.singleBlog p{
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--heading-color);
    text-align: justify;
}

@media screen and (max-width:1450px) {
    .blogs .blogList .blog{
    width:32%;
}
}
@media screen and (max-width:950px) {
    .blogs{
        margin:110px 3rem;
    }
    .blogs .blogList{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px ;
    }
    .singleBlog{
        margin:110px 3rem;
    
    }
        .blogs .blogList .blog{
    width:49%;
}
}
@media screen and (max-width:650px) {
    .blogs{
        margin:110px 1rem;
    }
    .singleBlog{
        margin:110px 1rem;
    
    }
    .blogs .blogList{
        grid-template-columns: 1fr;
        grid-gap:10px ;
    }
        .blogs .blogList .blog{
    width:100%;
}
}