.about{
    margin: 65px 8vw;
    text-align: center;
    font-family: var(--primary-font);
}
.about h1{
    color: #d2b188;
    margin-bottom: 20px;
}
.about img{
    margin-bottom: 20px;
    width: 350px;
    aspect-ratio: 1/1;
} 
.about p{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}