.singleProduct{
    padding: 95px 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 20px;
}

.singleProduct .right h1{
font-weight: 500;
margin-bottom: 8px;
letter-spacing: 1px;
}
.singleProduct .right .productBrand{
    color: var(--heading-color);
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    cursor: pointer;
}
.singleProduct .right .stars{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.singleProduct .right .stars li{
    margin-right: 5px;
    font-size: 23px;
    color: gold;
}
.singleProduct .right .prices{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.singleProduct .right .prices p:nth-child(1){
    color: var(--heading-color);
    font-weight: 600;
    font-size: 30px;
    margin-right: 20px;
}
.singleProduct .right .prices p:nth-child(2){
    text-decoration: line-through;
    color: gray;
    font-weight: 500;
}
.singleProduct .right .prices p:nth-child(3){
    color: rgb(255, 76, 76);
    font-weight: 500;
    margin-left: 1rem;
    font-weight: 600;
}
.singleProduct .right .color{
font-weight: 600;
letter-spacing: 1px;
word-spacing: 10px;
font-size: 14px;
margin-bottom: 20px;
}
.singleProduct .right .sizeOptions{
    margin-bottom: 30px;
}
.singleProduct .right .sizeOptions ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.singleProduct .right .sizeOptions ul li{
    padding: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
}
.singleProduct .right .sizeOptions .addToCartDiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 30px 0;
}
.singleProduct .right .sizeOptions select{
    outline: none;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    color: black;
    letter-spacing: 1px;
    border: 1px solid black;
    background-color: white;

}
.singleProduct .right .sizeOptions select option{
    font-weight: 600;
    color: black;
}
.singleProduct .right .sizeOptions button{
    background-color: var(--heading-color);
    border: none;
    color: var(--opposite-color);
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s;
}
.singleProduct .right .sizeOptions button:hover{
    letter-spacing: 2px;
}
.qtyWrapper {
    display:flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    width: fit-content;
  }
  
  .qtyBtn {
    border: none;
    padding: 10px 11px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    transition: background 0.2s ease;
  }
  
  .qtyDisplay {
    min-width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 8px;
  }

.singleProduct .right .offers{
    margin-bottom: 30px;
    font-weight: 500;
}
.singleProduct .right .offers p{
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.singleProduct .right .offers p span:nth-child(1){
    margin-right: 8px;
    font-size: 15px;
    margin-top: 5px;
}
.singleProduct .description {
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
    position: relative;

}

.singleProduct .description .truncated {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.7em;


}
.truncated:before {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 4em; /* Height of the blur effect */
    pointer-events: none;
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
    transition: opacity .3s cubic-bezier(.39,.575,.565,1);
}


.singleProduct .readMoreButton {
    margin-top: 10px;
    width: 80px;
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.singleProduct .readMoreButton:hover{
    opacity: 0.5;
}

.singleProduct .right .description h3{
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
.singleProduct .right .description p{
    margin-bottom: 5px;
    line-height: 1.5;

}

.ratings button{
    padding: 7px 15px;
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}
.ratings .stars{
    margin-bottom: 10px;
    font-size: 15px;
}
.ratings .ratingCount{
    margin-top: 20px;

}
.ratings .ratingCount .rate{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: rgba(247, 247, 247, 0.753);
    padding: 10px 5px;
    border-radius: 5px;
    
}
.ratings .ratingCount .rate .name{
    display: flex;
    align-items: center;
}
.ratings input,.ratings textarea{
    background-color: rgb(242, 242, 242);
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    padding: 10px 5px;
    border-radius: 3px;
}

.carouselWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid grey;
  }
  
  .carouselContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .mediaSlide {
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    animation: fadeIn 0.4s ease-in-out;
    width: 100%;
    aspect-ratio: 1/1;

  }
  
  .image,
  .video {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  .navButton1 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    left: 5px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: black;
  }
  
  .navButton1:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .navButton1:hover:not(:disabled) {
    background-color: #f3f3f3;
  }
  .navButton2 {
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .navButton2:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .navButton2:hover:not(:disabled) {
    background-color: #f3f3f3;
  }

  
  @keyframes fadeIn {
    from { opacity: 0.5; transform: scale(0.98); }
    to { opacity: 1; transform: scale(1); }
  }
@media screen and (max-width:1250px) {
    .singleProduct .left .thumbs{
        grid-template-columns: repeat(3,1fr);
    
    }
    .singleProduct .left .mainImage{
        /* height: 400px; */
    }
}

@media screen and (max-width:950px) {
    .singleProduct{
        padding: 95px 2rem;
    }

}
@media screen and (max-width:800px) {
    .singleProduct{
        /* padding: 65px 2rem; */
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:650px) {
    .singleProduct{
        padding: 95px 1rem;

    }
}