.blog{
    margin: 10px;
}
.blog .addblog{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.676);
    z-index: 100;
}
.blog .addblog .close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}
.blog .addblog .addblogbody{
    width: 90vw;
    background-color: white;
    height: 100vh;
    margin: 20px 0;
    border-radius: 5px;
    overflow-y: auto;
}
.blog .addblog .addblogbody::-webkit-scrollbar{
    display: none;
}
.blog .blogHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.blog .blogHead p{
    color: black;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}
.blog .blogHead button{
    cursor: pointer;
    padding: 8px 10px;
    scale: 0.9;
    border: none;
    background-color: #d2b188;
    color: white;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    box-shadow: 0 0px 0px 0 rgba(86, 86, 86, 0.3), 0 3px 5px 0 rgba(101, 101, 101, 0.3);
}
.blog .blogList{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.blog .blogList .blogCard{
    padding: 5px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #d2b188;
}
.blog .blogList .blogCard:hover{
    box-shadow: 0 2px 4px 0 rgba(121, 121, 121, 0.2), 0 3px 10px 0 rgba(105, 105, 105, 0.19);
    scale: 1.01;
}
.blog .blogList .blogCard img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.blog .blogList .blogCard .status{
    color: green;
    font-size: 18px;
    font-weight: 500;
    
}
.blog .blogList .blogCard p{
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
}
.blog .blogList .blogCard .name{
    font-weight: 600;
    color: black;
}
.blog .blogList .blogCard .date{
    font-size: 12px;
}


.blog .blogMake{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
.blog .blogMake .title{
    width: 100%;
    margin-bottom: 15px;
}
.blog .blogMake .title p{
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 15px;
}
.blog .blogMake .title input{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #d2b188;
    background-color: transparent;
    outline: none;
}
.blog .blogMake .title textarea{
    width: 100%;
    height: 150px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #d2b188;
    background-color: transparent;
    outline: none;
}
.blog .blogMake .title select{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #d2b188;
    background-color: transparent;
    outline: none;
}
.blog .blogMake .title .uploadBtn{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2b188;
    color: white;
    border-radius: 5px;
}
.blog .blogMake .title .imgDiv{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #d2b188;
}
.blog .blogMake .title .imgDiv .closeIco{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 215, 215, 0.726);
    color: black;
    background-origin: 50%;
}
.blog .blogMake .title .imgDiv img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
}


@media screen and (max-width:1250px) {
    .blog .blogList{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width:950px) {
    .blog{
        margin: 10px 5px;
    }
    .blog .blogList{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 5px;
    }
}
@media screen and (max-width:650px) {
    .blog .blogList{
        grid-template-columns: repeat(2,1fr);
    }
}